

.adduser-inputs{
    width:1050px;
    height:300px;
    display:flex;
    flex-direction:column;
    margin-top: 100px;
    gap:40px;
     justify-content:center;
     align-items: flex-start;
}

.adduser-input-fields{
     border: 2px solid;
     width:400px;
     height:73px;
     display:flex;
     gap:5px;
     justify-content: flex-start;
     align-items: baseline;
     border-radius: 30px;
     margin-left: 20px;
     padding-left:20px ;
}

.adduser-input-fields input{
     width:400px;
     height:69px;
     border-top-right-radius:30px ;
     border-bottom-right-radius: 30px;
     border:none;
     outline:none;
     font-size: 20px;
}

label{
    font-size: 20px;
}

.part1,.part2{
    display:flex;
    gap:20px;
}



.adduser-btn{
    width:100%;
    display:flex;
    justify-content:flex-end;
    margin-top:70px;
    margin-right: 650px;
    
}

.adduser-btn button{
    width:150px;
    height:50px;
    border-radius:23px;
    border:none;
    outline:none;
    background-color: #15313cea;
    color:white;
    font-size:23px;
}

.error-handle{
    margin-top:40px;
    margin-right:100px;
 
}